body{
    background: linear-gradient(to right, black, rgb(9, 44, 44));
}
h1{
    border: 3px solid;
    border-color: beige;
    color: goldenrod;
    transform: translateX(350px);
}
p{
    color: rgb(28, 151, 17);
    font-family: "consolas",sans-serif;
    font-size: large;
}
nav{
    color:aliceblue;
    text-shadow: 0px 0px 5px peru, 0px 0px 6px rgb(255, 255, 255);
}
button{
    background-color:darkslategrey;
    color:rgb(12, 159, 159);
}
#test{
    color:bisque;
}
#kodu{
    float: right;
}
a:link{
    color: rgb(28, 95, 22);
}
a:visited{
    color: grey;
    text-shadow: 0px 0px 10px red;
}
a:hover{
    color: red;
}
a:active{
    color: yellow;
}
button:hover{
    background-color: aqua;
    color:rgb(32, 60, 6);
}
button:active{
    background-color: red;
    color:rgb(28, 151, 17)
}
label{
    color:rgb(28, 151, 17);
    font-family: sans-serif;
    font-size: medium;
}
input{
    background-color: wheat;
}
input::placeholder{
    color: black;
}
img{
    border-radius: 10%;
}
#navlist:hover{
    color: red;
}
#gen{
    color: goldenrod;
    border: 2px solid;
    width: 250px;
    height: 250px;
    font-size: 150px;
    background-color: wheat;
    transform: translateX(650px);
}
